.container {
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns:1fr 4fr 50px 4fr 1fr;
    gap: 30px;
    margin: 30px;
}

.mainNews {
    background-color: gray;
    padding: 50px;
    grid-column: 2 / span 2;
    grid-row: 1 / span 5;
    border: 5px solid black;
    border-radius: 5px;
}

.news {
    
    height: 300px;
    padding: 50px;
    grid-column: 4;
    grid-row: 1 / span 1;
    border: 5px solid black;
    border-radius: 5px;
}

.news1 {
    background-color: gray;
    height: 300px;
    padding: 50px;
    grid-column: 4;
    grid-row: 4 / span 2;
    border: 5px solid black;
    border-radius: 5px;
}

.news2 {
    background-color: gray;
    height: 400px;
    padding: 50px;
    grid-column: 2 / span 1;
    border: 5px solid black;
    border-radius: 5px;
}

.news3 {
    background-color: gray;
    height: 400px;
    padding: 50px;
    grid-column: 4;
    border: 5px solid black;
    border-radius: 5px;
}
